@charset "ISO-8859-1";
.img{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("image.jpg");
	background-repeat: no-repeat;
	height: 80vh;
	background-size: cover;
	
}
input {
	width: 25%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}
/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

.container {
	background-color: #f1f1f1;
	padding: 10px;
}
li{
	list-style-type: none;
	color: black;
	font-family: cursive;
    font-style: oblique;
    font-size: larger;
}
.formstyle{
	background-color: cornsilk;
	width: 400px;
	height: 300px;
	box-shadow: 8px 9px 8px -8px rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: large;
}
select{
	width: 25%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}
.class{
	display : none;
}
